*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
}

body{
    font-size: 16px;
}
.content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;

}

.contentIn{
    flex: 1;

}
header{
    max-width: 1200px;
    height: 300px;
    background-image: url(../img/header/header.jpg);
}
footer{
    height: 100px;
    background-color: darkred;
    margin-top: 50px;
}
nav{
    text-align: center;
}
.logomain{
    width: 46px;

}
nav a{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    transition: 0.5s;
}
nav a:hover{
    transform: scale(1.1);
}

.blocksummItem{
    position: absolute;
    padding: 8px;
    border-radius: 25px;
    background-color: red;
    color: wheat;
    top: 0px;
    right: 10px;
    z-index: -1;

}
.cartbtn{
    display: inline-block;
    position: relative;
}
.mb_cart{
    padding: 5px;
    position: relative;
    top: -12px;
}
.gridBlock{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto-fill,1fr);
    grid-gap: 10px;
    justify-items: center;

}

/*главная*/
.item{
    width: 300px;
    transition: 0.3s;
}
.item:hover{
    transform: scale(1.1);
}
.item img{
    width: 214px;
    height: 126px;
}
.item p{
    padding: 5px;
}

.item a{
    display: inline-block;
    text-decoration: none;
    background-color: darkred;
    padding: 5px;
    border-radius: 10px;
    color: wheat;
    outline: none;
    box-shadow: 2px 5px 10px -2px rgba(0,0,0,0.99);
    transition: 0.25s;
}

.item a:hover{
    transform: scale(1.1);
}

.item a:active{
    transform: scale(0.9);
}
.nameShip{
    font-size: 1.5em;
    font-weight: 600;
    color: darkred;
}
.priceShip{
    font-size: 1em;
    font-weight: 400;
    color: wheat;
}
.cartblockGrid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.cartblock img{
    height: 100%;
}
.textCart{
    width: 400px;
}
.md_margin{
    margin-bottom: 10px;
}
.totalbtn{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: darkred;
    padding: 5px;
    border-radius: 10px;
    color: wheat;
    outline: none;
    box-shadow: 2px 5px 10px -2px rgba(0,0,0,0.99);
    transition: 0.25s;
}

.totalbtn:hover{
    transform: scale(1.1);
}
.totalbtn:active{
    transform: scale(0.9);
}
.emptyblock{
    font-size: 1em;
    color: darkred;
    text-align: center;
}
.emptyblock h2{
    text-align: center;
}
.sendform {
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    background-image: url(../img/header/form.jpg);
    background-size: cover;
    color: #690301;
    border-radius: 25px;


}
.sendform h2{

}

.inputform{
    padding: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    border-radius: 15px;
}

input[type="submit"]{
    font-size: 1em;
}
.regform{
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    background-image: url(../img/header/cloud.jpg);
    background-size: cover;
    color: #fbf9ff;
    font-weight: 500;
    border-radius: 25px;
}
.blockform{
    display: flex;
    justify-content: space-around;
    }















